
<h2>Discount Code</h2>
<div class="inner">
	<label for="discount_code">Discount Code</label>
	<%= text_field_tag :dicount_code %>
	<div class="form-buttons">
    <input id="continue_discount_code" type="button" class="button primary" value="<%=t("continue")%>"/>
  </div>
</div><!--end inner-->
