<h2>Affiliate Attributes</h2>
	<ul>
	<% @user.discount_codes.each do |dc| %>
		<li>
			<%= dc.comments %>
			<%= link_to 'delete', url_for([:admin,dc]) , :method => 'delete'%>
		</li>
	<% end %>
	</ul>
	
	
	<% fields_for "user[discount_codes_attributes][#{Time.now.to_i}]" do |dc|%>
		
		<%= render :partial => 'admin/discount_codes/form', :locals => { :form => dc }%>

	<% end %>